<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>footer</title>]
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<!--************************************-->
<div class="footer" th:fragment="footer">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <!--    <div class="footer">-->
    <div class="creat">
        Created by N1k
    </div>
    <!--    </div>-->
</div>
<!--************************************-->
</body>
</html>