.add_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    border: 3px black double;
    border-radius: 5px;
    padding: 7px;
    margin: 3px 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.button {
    padding: 2px 4px;
}

.div_name {
    display: flex;
    flex: 1;
}

.input {
    display: flex;
    height: 20px;
    flex: 2;
}