/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    outline: none;*/
/*}*/

.body {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 1000px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    /*width: calc(100% - 15px);*/
    /*margin-left: 15px;*/
}